<?xml version="1.0" encoding="UTF-8"?>
<suite name="testcases">
	<test name="ActiTime1">
		<classes>
			<class name="com.sgtesting.Testcases.CreateCustomer"></class>
		</classes>
	</test>
	<test name="ActiTime2">
		<classes>
			<class name="com.sgtesting.Testcases.CreateProject"></class>
		</classes>
	</test>
	<test name="ActiTime3">
		<classes>
			<class name="com.sgtesting.Testcases.CreateTask"></class>
		</classes>
	</test>
	<test name="ActiTime4">
		<classes>
			<class name="com.sgtesting.Testcases.CreateUserScenarioDemo"></class>
		</classes>
	</test>
	<test name="ActiTime5">
		<classes>
			<class name="com.sgtesting.Testcases.CustomerModify"></class>
		</classes>
	</test>
	<test name="ActiTime6">
		<classes>
			<class name="com.sgtesting.Testcases.LoginLogoutDemo"></class>
		</classes>
	</test>
	<test name="ActiTime7">
		<classes>
				<class name="com.sgtesting.Testcases.ModifyProject"></class>
		</classes>
	</test>
	<test name="ActiTime8">
		<classes>
			<class name="com.sgtesting.Testcases.ModifyUserScenario"></class>
		</classes>
	</test>
	<test name="ActiTime9">
		<classes>
			<class name="com.sgtesting.Testcases.CreateMultipleUser"></class>
		</classes>
	</test>
</suite>
